.baba{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}
.dishes{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}
.pakwaan{
    background-color: greenyellow;
    border: none;
    width: 130px;
    border-radius: 10px;
}
.listtwo{
    list-style-type:circle ;
}